cores.list
ipfw.rules
*.pyc

db
game
log
auth
cores
bin

*.core
.svn
*.gr2
*.dds
*.tga
*.jpg
*.jpeg
*.mde
*.mdatr

*.tar
*.tgz
*.txz
*.rar
*.zip
*.7z
*.gz
*.xz

*.o
*.obj
a.out

pre_qc
object

!baks/db
log.txt

/.project
